---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.home {
    text-align: center;
    vertical-align: bottom;
}

.home img {
    transform: scale(1.12);
}

// uncomment when proper footer stuff appears
.site-footer .footer-heading {
    display: none;
}

.site-footer .contact-list {
    display: none;
}
