---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.home {
    text-align: center;
    vertical-align: bottom;
}

// uncomment when proper footer stuff appears
.site-footer .footer-heading {
    display: none;
}

.site-footer .contact-list {
    display: none;
}

$pink-color: rgb(255,224,232);

#contact-card .service {
    & p {
        margin-bottom: 0;
    }

    & h2 {
        margin-bottom: 0;
        font-weight: 800;
    }
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 1000;
    font-style: normal;
    font-size: 4rem;
}

body {
    background-color: $pink-color
}